<template>
  <div class="item-form-wrapper">
    <div v-if="!isEdit">
      <form class="ui form">
        <h4 class="ui dividing header">New item</h4>
        <div class="field">
          <label for="product-name">Name</label>
          <input type="text" name="product-name" placeholder="Product Name">
        </div>
        <div class="field">
          <label for="product-cost">Cost</label>
          <input type="number" name="product-cost" placeholder="Product cost" min=0.0001 step=1 v-model="newProduct.cost">
        </div>
        <div class="field">
          <label for="product-price">Price</label>
          <input type="number" name="product-price" placeholder="Product price" min=0.0001 step=1 v-model="newProduct.price">
        </div>
        <div class="field">
          <label for="product-barcode-id">Barcode</label>
          <input type="number" name="product-barcode-id" placeholder="Product barcode number" min=0 step=1 v-model="newProduct.barcode_id">
        </div>
        <div class="field">
          <label for="product-cost">Product pictures</label>
          <input type="file" name="product-cost" placeholder="Product pictures">
        </div>
        <div class="field">
          <label for="product-store">Store/Shop</label>
          <select name="product-store" id="add-product-store" :disabled="newProduct.store_inventories">
            <option value="">Select store or shop</option>
          </select>
        </div>
        <div class="ui button" tabindex="0">Submit</div>
      </form>
    </div>
    <div v-else>
      <form class="ui form">
        <h4 class="ui dividing header">Update item</h4>
        <div class="field">
          <label for="product-name">Name</label>
          <input type="text" name="product-name" placeholder="Product Name" v-model="item.name">
        </div>
        <div class="field">
          <label for="product-cost">Cost</label>
          <input type="number" name="product-cost" placeholder="Product cost" min=0.0001 step=1 v-model="item.cost">
        </div>
        <div class="field">
          <label for="product-price">Price</label>
          <input type="number" name="product-price" placeholder="Product price" min=0.0001 step=1 v-model="item.price">
        </div>
        <div class="field">
          <label for="product-barcode-id">Barcode</label>
          <input type="number" name="product-barcode-id" placeholder="Product barcode number" min=0 step=1 v-model="item.barcode_id">
        </div>
        <div class="field">
          <label for="product-cost">Product pictures</label>
          <input type="file" name="product-cost" placeholder="Product pictures">
        </div>
        <div class="field">
          <label for="product-store">Store/Shop</label>
          <select name="product-store" id="edit-product-store" :disabled="item.store_inventories">
            <option value="">Select store or shop</option>
          </select>
        </div>
        <div class="ui button" tabindex="0">Submit</div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: 'item-form',
  props: {
    item: {
      type: Object,
      default () {
        return {
          name: '',
          cost: '',
          price: '',
          barcode_id: '',
          images: '',
          store_inventories: ''
        }
      }
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isEdit: false,
      newProduct: {
        name: '',
        cost: '',
        price: '',
        barcode_id: '',
        images: '',
        store_inventories: ''
      }
    }
  },
  beforeMount () {
    this.isEdit = this.edit
  }
}
</script>
