<template>
    <div class="ui bottom fixed borderless pointing menu">
      <router-link v-if="$store.getters.getIsAuthenticated" class="ui item" to="/cart">
        {{$t('Active cart')}}
      </router-link>
      <div class="right menu">
        <div class="ui item">
          {{$t('API:')}} <button :class="`ui ${$store.getters.getIsOnline ? 'green' : 'red'} small label`" @click="checkIsOnline">{{$store.getters.getIsOnline ? 'ONLINE' : 'OFFLINE'}}</button>
        </div>
        <router-link v-if="$store.getters.getIsAuthenticated" :class="`ui ${$route.name === 'settings' ? 'active' : ''} item`" to="/settings">
          <i class="cog icon"></i>
        </router-link>
      </div>
    </div>
</template>

<script>
import {EventBus} from '../main'
export default {
  name: 'bottombar',
  data () {
    return {
      mode: 'cash'
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('clearAll')
      localStorage.setItem('user_token', null)
    },
    setLang (lang) {
      if (lang && lang.length === 2) {
        this.$i18n.set(lang)
        localStorage.setItem('lang', lang)
      }
    },
    checkIsOnline () {
      EventBus.$emit('getVersion', {})
    }
  },
  computed: {
    wallets () {
      return this.$store.getters.getWallets
    },
    walletMode () {
      return this.$store.getters.getIsWalletMode
    },
    balance () {
      return this.$store.getters.getMaxBalance
    }
  }
}
</script>

