<template>
<div class="loading-wrapper">
  
</div>
</template>
<script>
export default {
  name: 'loading',
  data () {
    return {
    }
  },
  beforeMount () {
  },
  updated () {
  }
}
</script>
<style>
.loading-wrapper {
  min-height: 96vh;
}
</style>
