<template>
  <div class="messages">
    <transition-group name="fade">
      <div :class="`ui ${message.type} message`" v-for="(message, index) in messages" :key="index">
        <i class="close icon" @click="remove(message.id)"></i>
        <div class="header">{{$t(message.text, message.extras)}}</div>
      </div>
    </transition-group>
  </div>
</template>
<script>
import {EventBus} from '../main'
export default {
  name: 'messages',
  data () {
    return {
      messagesTimeout: 0
    }
  },
  computed: {
    messages () {
      return this.$store.getters.getMessages
    }
  },
  methods: {
    remove (id) {
      console.log('remove', id)
      this.$store.dispatch('removeMessage', id)
    }
  },
  mounted () {
    let self = this
    EventBus.$on('alertMessage', data => {
      console.log('received new message ', data)
      if (typeof data.extras !== 'object') {
        data.extras = {}
      }
      self.$store.dispatch('addMessage', data)
      clearInterval(self.messagesTimeout)
      data.id = self.$store.getters.getLastMsgID + 1
      self.$store.dispatch('incrementMsgID', data.id)
      let interval = data.interval || 3000
      self.messagesTimeout = setTimeout(function () {
        self.remove(data.id)
      }, interval)
    })
    EventBus.$on('alertMessages', data => {
      console.log('received new messages ', data)
      if (data && data.messages && data.messages.length > 0) {
        for (var i = 0; i < data.messages.length; i++) {
          let text = typeof data.messages[i] === 'string' ? data.messages[i] : data.messages[i].msg || data.messages[i].reason
          let newMsg = {
            text,
            id: self.$store.getters.getLastMsgID + 1,
            type: data.type
          }
          console.log('newMsg', newMsg)
          self.$store.dispatch('incrementMsgID', newMsg.id)
          self.$store.dispatch('addMessage', newMsg)
          clearInterval(self.messagesTimeout)
          self.messagesTimeout = setTimeout(function () {
            self.remove(newMsg.id)
          }, data.interval || 3000)
        }
      }
    })
  }
}
</script>

<style>
.messages {
  position: fixed;
  top: 1em;
  right: 1em;
  left: 1em;
  margin-top: -0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  z-index: 4;
}
.messages .message {
  box-shadow: 0 0 0.5em #aaaaaa;
}
.messages .message:last-child {
  margin-bottom: 1em;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
