<template>
<div>
  <div :class="`ui dimmable ${modalData.show ? 'dimmed' : ''} segment`" id="full-page-dimmer">
    <div class="ui simple dimmer"></div>
  </div>
  <div id="modal-component" :class="`ui ${modalData.show ? 'active' : ''} modal`">
    <i class="close icon"></i>
    <div class="header">
      {{modalData.title || ''}}
    </div>
    <div class="content">
      <p v-if="modalData.message">
        {{modalData.message}}
      </p>
      <ProductForm v-if="modalData.componentName === 'addItem'"></ProductForm>
    </div>
    <div class="actions" v-if="modalData.showControls">
      <div class="ui button" @click.prevent="hide">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
</div>
  
  
</template>
<script>
import {mapGetters} from 'vuex'
import ProductForm from './item/Form.vue'
export default {
  name: 'Modal',
  computed: {
    ...mapGetters(['modalData'])
  },
  methods: {
    hide () {
      this.$store.commit('setModalData', {show: false})
    }
  },
  components: {
    ProductForm
  },
  created () {
    setTimeout(() => {
      let modalClose = document.querySelector('#modal-component > .close')
      if (modalClose) {
        modalClose.addEventListener('click', this.hide)
      }
    }, 1000)
  },
  beforeDestroy () {
    let modalClose = document.querySelector('#modal-component > .close')
    if (modalClose) {
      modalClose.removeEventListener('click', this.hide)
    }
  }
}
</script>
<style>
#full-page-dimmer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
}
#full-page-dimmer > .dimmer {
  z-index: 102;
}
#modal-component {
  position: absolute;
  top: 10em;
  bottom: auto;
  margin: 0em 0em 0em 16%;
}
</style>
