<template>
  <div class="show pop-up-wrapper" v-if="$store.getters.showPopup">
    <div class="pop-container">
      <div class="ui header centered-text">
        {{$t(title)}}
      </div>
      <div class="question-text">
        <p>{{$t(question, extras)}}</p>
      </div>
      <div class="ui grid action-buttons">
        <div class="eight wide column">
          <div class="ui fluid red basic cancel button" @click="callNoHandler">
            <i class="remove icon"></i>
            {{$t('No')}}
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui fluid green basic ok button" @click="YesHandler">
            <i class="checkmark icon"></i>
            {{$t('Yes')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'popup',
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    question: {
      type: String,
      default: 'Are you sure'
    },
    extras: {
      type: Object,
      default: function () {
        return {}
      }
    },
    YesHandler: {
      type: Function,
      default: function () {
        console.log('yesHandler')
      }
    },
    NoHandler: {
      type: Function,
      default: null
    }
  },
  data () {
    return {
    }
  },
  methods: {
    callNoHandler () {
      console.log('callNoHandler')
      if (this.NoHandler !== null && this.NoHandler()) {
        this.$store.dispatch('setShowPopup', false)
      } else if (this.NoHandler === null) {
        this.$store.dispatch('setShowPopup', false)
      } else {
        console.log('NoHandler should return true to hide this popup')
      }
    }
  },
  beforeMount () {
  },
  updated () {
  }
}
</script>
<style>
.pop-up-wrapper {
  border: 1px solid;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0,0, 0.5);
  z-index: 2;
}
.pop-up-wrapper .pop-container {
  z-index: 3 !important;
  background-color: #fff !important;
  position: fixed;
  top: 25vh;
  bottom: 25vh;
  right: 10vw;
  left: 10vw;
  height: 35vh;
  box-shadow: 0 0 2em #999999;
  padding: 2em;
}
.centered-text {
  text-align: center;
}
.question-text {
  margin-bottom: 2em;
}
.action-buttons {
  position: absolute;
  bottom: 2em;
  right: 10vw;
  left: 10vw;
}
</style>
