<template>
  <div class="qr-code-scanner-wrapper">
    <h4>{{$t('QR Code Scanner')}}</h4>
    <div class="ui primary button" v-if="!scanning" @click="showAndScan">{{$t('Scan')}}</div>
    <div class="ui negative button" v-else @click="cancelScan">{{$t('Cancel scan')}}</div>
    <div v-if="scanning" :class="`ui ${!light ? 'primary' : 'black'} button`" @click="toggleLight">
      <i :class="`${!light ? 'lightbulb outline' : 'lightbulb'} icon`"></i>
      {{$t(!light ? 'turn ON' : 'turn OFF')}}
    </div>
    <div class="ui primary button" @click="toggleCamera">
      <i class="camera icon"></i>
      {{$t(backCamera ? 'Front' : 'Back')}}
    </div>
  </div>
</template>
<script>
import {qrcode} from '../services'
import {EventBus} from '../main'
export default {
  name: 'qr-scanner',
  props: {
    scanCallback: {
      type: Function,
      default: function (data) {
        console.log('scanCallback', data)
      }
    }
  },
  data () {
    return {
      scanning: false,
      light: false,
      backCamera: true
    }
  },
  methods: {
    toggleCamera () {
      if (this.backCamera) {
        this.useFrontCamera()
      } else {
        this.useBackCamera()
      }
    },
    useBackCamera () {
      let self = this
      qrcode.useBackCamera().then(resp => {
        console.log('qrcode.useBackCamera response', resp)
        self.backCamera = true
      }).catch(err => {
        console.log('qrcode.useBackCamera error', err.message)
      })
    },
    useFrontCamera () {
      let self = this
      qrcode.useFrontCamera().then(resp => {
        console.log('qrcode.useFrontCamera response', resp)
        self.backCamera = false
      }).catch(err => {
        console.log('qrcode.useFrontCamera error', err.message)
      })
    },
    toggleLight () {
      if (this.light) {
        this.disableLight()
      } else {
        this.enableLight()
      }
    },
    initScanner () {
      console.log('initScanner')
      qrcode.initQRCode().then(resp => {
        console.log('qrcode.initQRCode response', resp)
      }).catch(err => {
        console.log('qrcode.initQRCode error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    showAndScan () {
      console.log('showAndScan')
      let self = this
      qrcode.show().then(resp => {
        console.log('qrcode.show response', resp)
        self.scanning = true
        self.$store.dispatch('setTransparentBg', true)
        self.scan()
      }).catch(err => {
        console.log('qrcode.show error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    hide () {
      console.log('hide')
      let self = this
      qrcode.clearAll().then(resp => {
        console.log('qrcode.clearAll response', resp)
        self.scanning = false
        setTimeout(() => {
          document.body.style.background = '#ffffff'
          console.log('bg', document.body.style.background)
        }, 100)
        self.$store.dispatch('setTransparentBg', false)
      }).catch(err => {
        console.log('qrcode.clearAll error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    scan () {
      console.log('scan')
      let self = this
      qrcode.scan().then(resp => {
        console.log('qrcode.scan response', resp)
        self.scanCallback(resp.data)
        self.hide()
      }).catch(err => {
        console.log('qrcode.scan error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    cancelScan () {
      console.log('cancelScan')
      this.scanning = false
      let self = this
      self.hide()
      qrcode.cancelScan().then(resp => {
        console.log('qrcode.cancelScan response', resp)
      }).catch(err => {
        console.log('qrcode.cancelScan error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    clearAll () {
      console.log('clearAll')
      qrcode.clearAll().then(resp => {
        console.log('qrcode.clearAll response', resp)
      }).catch(err => {
        console.log('qrcode.clearAll error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    openSettings () {
      console.log('openSettings')
      qrcode.openSettings().then(resp => {
        console.log('qrcode.openSettings response', resp)
      }).catch(err => {
        console.log('qrcode.openSettings error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    enableLight () {
      console.log('enableLight')
      let self = this
      qrcode.enableLight().then(resp => {
        console.log('qrcode.enableLight response', resp)
        self.light = true
      }).catch(err => {
        console.log('qrcode.enableLight error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    },
    disableLight () {
      console.log('disableLight')
      let self = this
      qrcode.disableLight().then(resp => {
        console.log('qrcode.disableLight response', resp)
        self.light = false
      }).catch(err => {
        console.log('qrcode.disableLight error', err)
        let pluginError = err.message.indexOf('plugin QRScanner is not ready') > -1
        EventBus.$emit('alertMessage', {text: pluginError ? 'QR code scanner not available' : 'error scanning qr code', interval: 3000, type: 'negative'})
      })
    }
  },
  beforeMount () {
    this.initScanner()
  }
}
</script>
<style>
.qr-code-scanner-wrapper {
  text-shadow: 0 0 1px #ffffff;
}
</style>
