<template>
  <div class="app">
    <h1>Cart</h1>
    
    <div class="ui celled list">
      <div class="item" v-for="item in items" :key="item.id">
        <div class="right floated content">
          <div class="ui teal big label">
            ${{ multiply(item.quantity, item.price).toFixed(2)}}
          </div>
        </div>
        <div class="right floated content">
          <div class="ui positive icon button" v-if="item.quantity === 0" @click="item.quantity = 1">
            <i class="check icon"></i>
          </div>
          <div class="ui negative icon button" v-if="item.quantity > 0" @click="item.quantity = 0">
            <i class="times icon"></i>
          </div>
          <div class="ui action input">
            <div class="ui icon button" @click="item.quantity > 0 ? item.quantity-- : 0">
              <i class="minus icon"></i>
            </div>
            <input class="quantity-input" type="number" :min="0" :step="1" v-model="item.quantity" />
            <div class="ui icon button" @click="item.quantity++">
              <i class="plus icon"></i>
            </div>
          </div>
        </div>
        <img class="ui avatar image" :src="item.images[0].url" alt="">
        <div class="content">
          <div class="header">
            {{item.name}}
          </div>
          <div class="descripiton">${{(item.price).toFixed(2)}}</div>
        </div>
      </div>
    </div>
    
    <div class="ui label">
      Total: {{total}}
    </div>

  </div>
</template>
<script>
export default {
  name: 'cart',
  data () {
    return {
      items: [
        {
          id: 'id-1',
          name: 'First item',
          cost: 2.35,
          price: 2.75,
          quantity: 1,
          barcode_id: '',
          images: [{url: 'dist/img/no-image-icon.png'}]
        },
        {
          id: 'id-2',
          name: 'Second item',
          cost: 0.59,
          price: 0.82,
          quantity: 1,
          barcode_id: '',
          images: [{url: 'dist/img/no-image-icon.png'}]
        }
      ]
    }
  },
  methods: {
    multiply (num1, num2) {
      if (typeof num1 === 'number') {
        if (num1 > 0) {
          return num1 * num2
        }
        return 1 * num2
      }
      return 0
    }
  },
  computed: {
    total () {
      let total = 0
      for (let i = 0; i < this.items.length; i++) {
        total += this.items[i].price * (this.items[i].quantity || 1)
      }
      return total
    }
  }
}
</script>
<style>
.quantity-input {
  width: 3em;
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
  text-align: center !important;
}
</style>

