<template>
  <div class="app">
    <h1>{{$t('Welcome')}}</h1>
  </div>
</template>
<script>
import {EventBus} from '../main'
export default {
  name: 'main-view',
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    isDriver () {
      return this.$store.getters.getUserLevel.level === 6
    },
    loggedIn () {
      return this.$store.getters.getIsAuthenticated
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      EventBus.$emit('alertMessage', {text: 'Please login or sign up to use this service', interval: 5000, type: 'negative'})
      return
    }
    console.log('beforeMount')
  }
}
</script>
