<template>
  <div class="products-wrapper">
    <h1>
      <button class="right floated ui plus primary icon button" @click.prevent="showForm">
        <i class="plus icon"></i>
        Add
      </button>
      Products
    </h1>
    <div class="ui horizontal list">
      <div class="item" v-for="item in items" :key="item.barcode_id">
        <div class="right floated content">
          <a class="ui teal tag label">${{item.price}}</a>
        </div>
        <img class="ui avatar image" :src="item.images && item.images.length > 0 ? items.images[0] : 'dist/img/no-image-icon.png'">
        <div class="content">
          <div class="header">{{item.name}}</div>
          {{item.barcode_id}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'products',
  data () {
    return {
      items: [
        {
          name: 'Bariis',
          cost: 100,
          price: 132,
          barcode_id: '0000000',
          images: [],
          store_inventories: []
        },
        {
          name: 'Bur',
          cost: 95,
          price: 113,
          barcode_id: '0000001',
          images: [],
          store_inventories: []
        },
        {
          name: 'Sokor',
          cost: 89,
          price: 109,
          barcode_id: '0000002',
          images: [],
          store_inventories: []
        }
      ]
    }
  },
  methods: {
    showForm () {
      this.$store.commit('setModalData', {
        show: true,
        componentName: 'addItem',
        title: 'Add new product'
      })
    }
  },
  components: {
  }
}
</script>
