<template>
  <div class="product-wrapper">
    <h1>Product</h1>
    <div>
      <item-form :item="item" :edit="true"></item-form>
    </div>
  </div>
</template>
<script>
import Form from '../components/item/Form.vue'
export default {
  name: 'product',
  data () {
    return {
      item: {
        name: 'Bariis',
        cost: 100,
        price: 132,
        barcode_id: '0000000',
        images: [],
        store_inventories: []
      }
    }
  },
  components: {
    'item-form': Form
  }
}
</script>
