<template>
  <div :dir="$i18n.locale() === 'ar' ? 'rtl' : 'ltr'" v-if="$store.getters.isTransparentBg ? 'transparent-bg' : 'non-transparent-bg'">
    <div class="ui segment loading-wrapper" v-if="$store.getters.isLoading.enabled">
      <div class="ui active dimmer">
        <div class="ui text loader">
          {{$t($store.getters.isLoading.message || 'Loading', $store.getters.isLoading.extras)}}
          <br>
          <br>
          <div v-if="typeof $store.getters.isLoading.onCancel === 'function' && $store.getters.isLoading.showCancel" class="ui mini primary button" @click="$store.getters.isLoading.onCancel">{{$t('Cancel')}}</div>
        </div>
      </div>
      <p></p>
    </div>
    <Modal></Modal>
    <popup :show="showConfirmation" :NoHandler="popupProps.noHandler" :YesHandler="popupProps.yesHandler" :title="popupProps.content.title" :extras="popupProps.content.extras" :question="popupProps.content.question"></popup>
    <transition name="fade">
      <div class="app-wrapper">
        <topbar></topbar>
        <message></message>
        <div class="ui stackable grid container">
          <div class="four wide column" v-if="winWidth > 767">
            <!-- <sidebar></sidebar> -->
          </div>
          <div class="twelve wide column">
            <router-view class="child-view"></router-view>
          </div>
        </div>
        <bottombar></bottombar>
      </div>
    </transition>
  </div>
</template>

<script>
  import Popup from './components/Popup.vue'
  import Loading from './components/Loading.vue'
  import Topbar from './components/Topbar.vue'
  import Bottombar from './components/Bottombar.vue'
  import Message from './components/Message.vue'
  import Modal from './components/Modal.vue'
  import {EventBus} from './main'
  import {auth} from './services'
  export default {
    name: 'app',
    components: {
      Topbar,
      Message,
      Bottombar,
      Popup,
      Loading,
      Modal
    },
    data () {
      return {
        winWidth: 100,
        showConfirmation: false,
        popupProps: {
          noHandler: null,
          yesHandler: null,
          content: {title: '', question: ''}
        },
        waitingVersion: 0
      }
    },
    methods: {
      getVersion () {
        console.log('getVersion', this.$store.getters.getIsOnline)
        let self = this
        clearInterval(self.waitingVersion)
        this.waitingVersion = setTimeout(() => {
          auth.GetVersion().then(resp => {
            console.log('auth.getVersion response', resp)
            if (!self.$store.getters.getProfile.id && self.$store.getters.getIsAuthenticated) {
              self.getProfile()
            }
            self.$store.dispatch('setVersion', {version: resp.data, online: true})
            clearInterval(self.waitingVersion)
          }).catch(err => {
            console.log('auth.getVersion error', err.response || err.toString())
            let isOffline = (err.toString().indexOf('Network Error') > -1)
            console.log('isOffline', isOffline)
            if (err.toString().indexOf('Network Error') > -1) {
              self.$store.dispatch('setOnline', {online: false})
            }
            self.getVersion()
          })
        }, 1000)
      },
      showPopupHandler (data) {
        console.log('showPopupHandler', data)
        if (!data) {
          this.$store.dispatch('setShowPopup', false)
        }
        if (data.content && data.content.title) {
          this.popupProps.content.title = data.content.title
        }
        if (data.content && data.content.question) {
          this.popupProps.content.question = data.content.question
        }
        if (data.content && data.content.extras) {
          this.popupProps.content.extras = data.content.extras
        }
        console.log('noHandler type', typeof data.noHandler === 'function')
        if (data.noHandler && typeof data.noHandler === 'function') {
          this.popupProps.noHandler = data.noHandler
        }
        console.log('yesHandler type', typeof data.yesHandler === 'function')
        if (data.yesHandler && typeof data.yesHandler === 'function') {
          this.popupProps.yesHandler = data.yesHandler
        }
        this.$store.dispatch('setShowPopup', true)
      },
      getProfile () {
        let self = this
        auth.GetProfile().then(resp => {
          console.log('getProfile response', resp)
          if (resp && resp.data && resp.data.profile) {
            self.$store.dispatch('setProfile', resp.data.profile)
          }
        }).catch(err => {
          console.log('getProfile error', err.response || err)
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setVersion', {version: {}, online: false})
          }
        })
      },
      checkWindowWidth () {
        this.winWidth = window.innerWidth
      },
      checkUserLevel () {
        let self = this
        auth.GetUserLevel().then(resp => {
          console.log('auth.GetUserLevel response', resp)
          if (resp && resp.data && resp.data.level > 5) {
            setTimeout(() => {
              // anything to check after level check
            }, 1000)
          }
          self.$store.dispatch('setUserLevel', resp.data)
        }).catch(err => {
          console.log('auth.GetUserLevel erroro', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setVersion', {version: {}, online: false})
          }
        })
      }
    },
    beforeMount () {
      console.log('App.beforeMount', this.$route.query)
      if (this.$route.query.mogadishu === 'true') {
        this.$store.dispatch('setIsMogadishu', true)
      }

      let self = this
      self.getVersion()
      window.addEventListener('resize', this.checkWindowWidth, false)
      let token = localStorage.getItem('user_token')
      self.$store.dispatch('setToken', token)
      EventBus.$on('getVersion', this.getVersion)
      EventBus.$on('authenticated', data => {
        self.getProfile()
        self.checkUserLevel()
      })
      EventBus.$on('showPopup', this.showPopupHandler)
      setTimeout(() => {
        if (self.$store.getters.getIsAuthenticated) {
          self.checkUserLevel()
          self.getProfile()
        }
      }, 1000)
    },
    mounted () {
      setTimeout(() => {
        EventBus.$emit('alertMessage', {text: 'Welcome to BolInventory', interval: 1000, type: 'positive'})
      }, 1000)
    }
  }
</script>

<style>
/* .app-wrapper > .ui.stackable.grid.container {
  padding-bottom: 3.5em;
} */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.ui.segment.loading-wrapper {
  position: fixed;
  top: -1em;
  right: 0;
  bottom: -1em;
  left: 0;
  z-index: 4;
}
.transparent-bg {
  background-color: transparent !important;
}
.non-transparent-bg {
  background-color: #ffffff !important;
}
.twelve.wide.column .child-view {
  padding-bottom: 3.5em !important;
}
</style>
